@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../../../bower_components/font-awesome/scss/font-awesome";

@import "variables";
@import "buttons";
@import "modal";

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b4b4b4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b4b4b4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b4b4b4;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b4b4b4;
}

body {
  font-family: $font-family-base;
  background-color: #f4f4f4;
  color: $font-color-base;

  &.modal-open {
    header, main {
      .container {
        filter: blur(25px);
      }
    }
  }
}

.col-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.row-align {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .pull-right-sm {
    float: right;
  }
}

.title {
  background-repeat: no-repeat;
  background-position: 0;
  text-indent: 40px;
  line-height: 40px;
  min-height: 40px;
  font-weight: 700;
  color: #3d3332;
  margin: 0;
}

.pagination {

  a {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 40px !important;
    border-radius: 0 !important;
    color: #c5c1c2 !important;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin: 0 8px;
    height: 50px;
    width: 50px;

    &:active, &.active {
      background-color: #fcfcfc;
      color: #3d3332 !important;
      border: 0;
    }

    &.previous,&.next {
      line-height: 36px !important;
      font-size: 22px;
    }
  }
}
