.title-characters {
  background-image: url(../img/characters.png);
}

.title-favourites {
  background-image: url(../img/favourites.png);
  background-position: 0;
  margin-bottom: 30px;
  text-align: center;
  text-indent: 50px;
  display: table;
  margin: 0 auto;
}

.select-sortby {
  max-width: 250px;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  font-size: 16px;
}

.box-character {
  background-color: #ffffff;
  padding: 20px 20px 0 20px;
  margin: 20px 0;

  @media (max-width: 992px) {
    margin: 40px 0;
  }

  .media {
    width: calc(100% + 60px);
    position: relative;
    overflow: visible;
    top: -40px;
    left: -40px;

    .media-left {
      padding-right: 20px;

      .img-character {
        border-radius: 50%;

        @media (max-width: 1199px) {
          width: 150px;
        }

        @media (max-width: 991px) {
          width: 130px;
        }
      }
    }

    .name-character {
      text-transform: uppercase;
      margin-top: 10px;
      font-weight: 700;
      font-size: 22px;
      color: #473d3c;
    }

    .description-character {
      margin: 15px 0;
    }
  }

  .related-comics {
    position: relative;
    top: -20px;
  }
}

.list-favourites {

  .box-favourites {
    position: relative;
    margin: 30px;

    .close {
      position: absolute;
      z-index: 12;
      top: -18px;
      opacity: 1;
      right: -15px;
    }

    .name-favourite {
      margin: 10px 0;
      color: #3d3334;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
  }
}
